
.azul {
  background-color: blue;
  color: white;
}
.azulclaro {
  background-color: #87ceeb;
  color: white;
}
.lila {
  background-color: purple;
  color: white;
}
.verde {
  background-color: green;
  color: white;
}