body{
    width: 800px;
}
header{
    margin-top: 50px;
}
.nombre {
    color: rgb(59, 59, 71);
    font-family: Arial, sans-serif;
    background-color: rgb(243, 207, 26);
    width: 120px;
    margin: 10px;
    font-family: sans-serif;
}
.apellido{
    color: rgb(243, 207, 26);
    font-family: 'Times New Roman', serif;
    background-color: rgb(59, 59, 71);
    width: 130px;
    position: relative;
    left: 130px;
    top: -54px; 
    font-family: sans-serif;
}
.customer{
    font-family: sans-serif;
    color: rgb(59, 59, 71);
    position: relative;
    left: 700px;
    top: -130px;
}
.numero{
    font-family: sans-serif;
    color: rgb(59, 59, 71);
    position: relative;
    left: 700px;
    top: -140px;
    font-weight: bold;
}
.barra{
    width: 850px;
    height: 50px;
    background-color: rgb(59, 59, 71);
    position: relative;
    top: -90px;
    margin: px;
    left: 0px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 16px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 140px;
}
.categorias{
    font-family: sans-serif;
    color: rgb(59, 59, 71);
    position: relative;
    left: 50px;
    top: -70px;
    background-color: rgb(243, 207, 26);
    color: rgb(59, 59, 71);
    width: 130px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    padding-left: 10px;
    position: relative;
    top: -150px;
    font-size: 14px;

}
#amarillo{
    color: rgb(243, 207, 26);
}
.imagen1{
    height: 220px;
    width: 50px;
    display: flex;
    background-color: rgb(243, 207, 26);
    margin-top: 10px;
    opacity: 0.8;
    filter: brightness(50%);
    position: relative;
    top: -120px;   
}
.texto1{
    width: 300px;
    color: white;
    position: relative;
    top: -340px;
    left: 70px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}
h1{
    font-family: sans-serif;   
    font-weight: lighter;
    font-size: 30px;
}
.boton1{
    position: relative;
    top: 0px;
    left: 150px;
    font-family: sans-serif;
    color: rgb(59, 59, 71);
    background-color: rgb(243, 207, 26);
    width: 50px;
    height: 20px;
    font-size: 10px;
    text-align: center;
}
.boton1:hover{
    background-color: rgb(59, 59, 71);
    color: rgb(243, 207, 26);
}
a:hover{
    color: white;
}
.imagen2{
    height: 100px;
    width: 50px;
    display: flex;
    background-color: rgb(243, 207, 26);
    margin-top: 10px;
    opacity: 0.8;
    filter: brightness(50%);
    position: relative;
    top: -190px;   
    left: 450px;
}
.icn{
    width: 50px;
}
.iconos{
    position: relative;
    top: -100px;
    left: 600px;
    gap: 20px;
    margin: 10px;
}